# Database Configuration (MariaDB)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=example_fortify_test
DB_USER=root
DB_PASSWORD=
DB_LOG=false

# Standalone Server Port
PORT=6666

# Twitch Bot Credentials (optional for local GSI test)
BOT_USERNAME=your_twitch_bot_username
TWITCH_OAUTH_TOKEN=oauth:your_twitch_oauth_token
